   /* #modal { width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;}

    #modal-content {
      height: 100%;
      border: 0;
      @include border-radius(0);
    } */

    /* .modal-header {
      @include border-radius(0);
    } */

    /* #modal-body {
      overflow-y: auto;
    } */

    /* .modal-footer {
      @include border-radius(0);
    } */
  






    /* .modal-contenido{
        background-color:aqua;
        width:300px;
        padding: 10px 20px;
        margin: 20% auto;
        position: relative;
      }
      .modal{
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:0;
        pointer-events:none;
        transition: all 1s;
      }
      #miModal:target{
        opacity:1;
        pointer-events:auto;
      } */


        /* .modal-content { 
            
        position: fixed;
        font-family: Arial, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;} */