<div class="container-fluid">
    <!-- MODAL BEM-VINDOS/AS -->
    <div *ngIf='mostrar' [class]='claseModal' tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-success">     
          <div class="modal-body">          
            <div class="bola">
              <img id="imgBola" src="../../../assets/Logo MyFutStats Bola Enteira.png" alt="Logo MyFutStats">
            </div>
            <div [ngClass]='semCircle' class="container-circles">
              <div class="loader loader-circles">           
            </div>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>



