<!-- MODAL BENVINDOS -->
<div *ngIf='mostrar' [class]='claseModal' id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">     
      <div class="modal-body">
        <!-- AQUI VA EL CONTENIDO PARA NUESTRO MODAL -->
        <button (click)='cerrar()' [disabled]='cerrarModal' class="btn btn-success" type="button">
          <span *ngIf='cargando' class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf='cargando' >  Carregando...</span>
          <span *ngIf='buttonCerrar'>ENTRAR</span>
        </button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>     
    </div>
  </div>
</div>

