<aside class=Bola>
    <img src="../../../assets/Logo MyFutStats Bola Enteira.png" alt="Logo MyFutStats">
</aside>
<article>
    <div id="About-us-text">
        <h2>
            Olá! Curtindo nossa app?
        <br>
        <br>
            Nós Somos Diego, de Colômbia, e Julián, de Argentina. Dois imigrantes apaixonados por tecnologia, que viajaram ao Brasil em busca de melhores oportunidades.
        <br>
        <br> 
            Atualmente estamos em transição de carreira, finalizando nossos estudos de desenvolvimento web na plataforma de ensino TOTI e muito animados para mostrar ao mundo nosso talento! Acesse nossos links para nos conhecer melhor.
        </h2>
    </div>

    <aside id="Profiles">
        <section>
            <div id="Perfil">
                <img src="../../../assets/Diego.jpg">
                <div>
                    <a class="Portfolio" href="https://diegocelist.github.io/Portfolio-DiegoCelisT/index.html" target="_blank" valor="noopener"><img src="../../../assets/website.png" alt="Logo website"></a>
                    <a class="Linked-in" href="https://www.linkedin.com/in/diego-celis-a056224a/" target="_blank" valor="noopener"><img src="../../../assets/Linked-in Logo Circular.png" alt="Logo de LinkedIn"></a>
                    <a class="Git-hub" href="https://github.com/DiegoCelisT" target="_blank" valor="noopener"><img src="../../../assets/GitHub-Logo.png" alt="Logo de GitHub"></a>
                    <img id="Nome" src="../../../assets/DiegoNome.png">
                </div>
            </div>
        </section>
        <section>
            <div id="Perfil">
                <img src="../../../assets/Julián.jpg">
                <div>
                    <a class="Portfolio" href="https://diegocelist.github.io/Portfolio-DiegoCelisT/index.html" target="_blank" valor="noopener"><img src="../../../assets/website.png" alt="Logo website"></a>
                    <a class="Linked-in" href="https://www.linkedin.com/in/diego-celis-a056224a/" target="_blank" valor="noopener"><img src="../../../assets/Linked-in Logo Circular.png" alt="Logo de LinkedIn"></a>
                    <a class="Git-hub" href="https://github.com/DiegoCelisT" target="_blank" valor="noopener"><img src="../../../assets/GitHub-Logo.png" alt="Logo de GitHub"></a>    
                    <img id="Nome" src="../../../assets/JuliánNome.png">  
                </div>
            </div>
        </section>
    </aside>
    
    
</article>

