<aside>
    <div>
        <img src="../../../assets/Logo MyFutStats Bola Enteira.png" alt="Logo MyFutStats">
    </div>
    <article>
        <h2>
            Olá! Curtindo nossa app?
        </h2>
        
        <h2>
            Nós Somos Diego, de Colômbia, y Julián, de Argentina. Dois imigrantes apaixonados por tecnologia, que viajaram ao Brasil em busca de melhores oportunidades.
        </h2>
        <h2>  
            Atualmente estamos em transição de carreira, finalizando nossos estudos de desenvolvimento web na plataforma de ensino TOTI e muito animados para mostrar ao mundo nosso talento! Se quiser saber mais sobre nós, aqui abaixo você tem os links para acessar nossos portfólios e redes sociais:
        </h2>
    </article>
</aside>