<a href="">Voltar a Home</a>
<h1>Menú de edição</h1>
<h2>Liga 1</h2>

<button class="btn-default"><a href="http://localhost:4200/addclube">ADICIONAR CLUBE</a></button>
<br>
<nav class="navbar">
    <input class="form-control" type="text" name="name" [(ngModel)]="nomeTime"  placeholder="Insira sua pesquisa aqui...">
</nav>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Escudo</th>
            <th>Editar</th>
            <th>Apagar</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resultado of resultados | filter:nomeTime | orderBy:'name':false">
            <td><a href="http://localhost:4200/clube/{{ resultado.id }}">{{ resultado.name }}</a></td>
            <td><img [src]="resultado?.urlShield" width="40"></td>
            <td><a href="http://localhost:4200/editclube/{{ resultado.id }}">Editar</a></td>
            <td> Apagar </td>
        </tr>
    </tbody>
</table>


<br><br>
<!-- <a href="http://localhost:4200/liga/{{ this.resultado.id}}">NO editar à liga {{ this.resultado.name }}</a><br> -->
<a href="http://localhost:4200/liga">Voltar a Liga</a> <br>
