<h1>Edição de clube {{ this.resultado.name }}</h1>

<form class="form-group needs-validation" [formGroup]=formularioEdit>
    <article> 
        <div class="form-group">
            <label for="name">Nome do clube:</label>
            <input type="text" class="form-control" formControlName='name' value="{{ resultado.name }}" required>
            <div class="valid-feedback">
                <!-- PODEMOS AGREGAR ALGO ACÁ! -->
            </div>
        </div>    
        <div class="form-group">
            <label for="country">País:</label>
            <input type="text" class="form-control" formControlName="country" value="{{ resultado.country }}">
        </div>
        <div class="form-group">
            <label for="urlShield">URL Escudo:</label>
            <input type="url" class="form-control" formControlName="urlShield" value="{{ resultado.urlShield }}">
        </div>
    </article>

    <article>
        <img src="{{ this.resultado.urlShield }}">
    </article>

    <article>
        <div class="form-group">
            <label for="vitorias">Vitórias:</label>
            <input type="number" class="form-control" formControlName="vitorias" value="{{ resultado.vitorias |number}}">
        </div>
        <div class="form-group">
            <label for="empates">Empates:</label>
            <input type="number" class="form-control" formControlName="empates" value="{{ resultado.empates }}">
        </div>
        <div class="form-group">
            <label for="derrotas">Derrotas:</label>
            <input type="number" class="form-control" formControlName="derrotas" value="{{ resultado.derrotas }}">
        </div>
        <div class="form-group">
            <label for="golsPro">Gols Pró:</label>
            <input type="number" class="form-control" formControlName="golsPro" value="{{ resultado.golsPro }}">
        </div>
        <div class="form-group">
            <label for="golsContra">Gols Contra:</label>
            <input type="number" class="form-control" formControlName="golsContra" value="{{ resultado.golsContra }}">
        </div>
    </article>
</form>

<br>

<button [disabled]='!formularioEdit.valid' type="submit" class="btn btn-success mb-2 mr-2" (click)='editClub()'>ATUALIZAR DADOS</button>

   
  <br>

  <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)='dadosRandom()'>DADOS RANDOM</button> -->
  
  <br><br>
  
  <a href="http://localhost:4200/liga2/clube/{{ this.resultado.id }}">NÃO editar ao clube {{ this.resultado.name }}</a><br>
  <a href="http://localhost:4200/liga2/editliga">Voltar ao menú de edição de Liga</a> <br>