/* Edição Provisoria */
.tabelaHome{
    background-color: rgb(0, 0, 0);
    width: 350px;
}

a, tr {
    text-decoration: none;
    color: white;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
}

.pointer {
    cursor: pointer;
    opacity: 1;
}

.pointer:hover {
    opacity: 0.8;
}    

aside{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;  
}

aside div{
    display:flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

a{
    padding: 10px;
    color:black
}

aside div img {
    height: 100px;
}

