/* Edição Provisoria */
.tabelaHome{
    background-color: rgb(0, 0, 0);
    width: 350px;
}

a, tr {
    text-decoration: none;
    color: white;
    text-align: center;
}

td{
    text-align: left;
}