<!-- <div class="container-fluid">
    <div class="tabelaHome">
        <a href="/liga">
            <h2>{{ nomeLigas[0].name }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>TIME</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resultado of resultados | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                        <td>{{ i+1 }}</td>
                        <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                        <td>{{ resultado.pontos }}</td>
                    </tr>
                </tbody>
            </table>
        </a>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">    
        <div class="col-sm-4 p-2" (click)='abrirLink(1)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[0]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados1 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(2)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[1]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados2 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(3)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[2]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados3 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(4)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[3]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados4 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(5)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[4]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados5 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(6)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[5]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados6 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>    
    </div>
</div>





<!-- <ul *ngFor= "let nomeLiga of nomeLigas">
    <li><a href="/liga"> {{nomeLiga.name}} </a></li>
</ul> -->