@font-face{ 
    font-family: 'Neufreit';
    src: url('../../../assets/Neufreit-ExtraBold.otf');
}
* {
    font-family: 'Neufreit'
}

/* Edição Provisoria */
.tabelaHome{
    background-color: rgb(0, 0, 0);
    width: 350px;
}

a, tr {
    text-decoration: none;
    color: white;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
}

.pointer {
    cursor: pointer;
    opacity: 1;
}

.pointer:hover {
    opacity: 0.8;
}    

/*Carrousel - Modificação responsiva*/

.carrousel-item{
    width: 18vw;
    height: 18vw;
    margin:1.2vw!important
}

/* Escolher os 4 primeiros (-n+5) e todos os que vêm depois dos 4 primeiros (n+5): */
.carrousel-item:nth-child(n+5){
    display: none !important; /*Obriga a dar prioridade, mesmo acima do bootstrap e inline-blocks*/
}

@media (min-width:576px) and (max-width:991px){
    
    .carrousel-item, .carrousel-item:nth-child(n+7){
        display: inline-block!important;
        width: 12.5vw;
        height: 12.5vw;
        margin: 0.6vw!important;
        }

}

@media (min-width: 992px){

    .carrousel-item, .carrousel-item:nth-child(n+5){
    display: inline-block!important;
    width: 7.5vw;
    height: 7.5vw;
    margin: 0.6vw!important;
    }

}


/* Escolher os 10 primeiros (-n+11) e todos os que vêm depois dos 10 primeiros (n+11): */
/* .carrousel-item:nth-child(n+11){
    display: none !important; /*Obriga a dar prioridade, mesmo acima do bootstrap e inline-blocks
} */








/* Próximos Jogos*/

h1{
    text-align: center;
    margin: 20px;
}

aside{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;  
}

aside div{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 90vw;
    text-align: center;
    margin: 20px 0 10px 0;
}

aside div a{
    color:rgb(39, 41, 39);
    width: 40vw;
    height: 40vw;
    font-size: 3vw;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

aside div h3, aside div h2{
    margin: 0px;
}

aside div h2{
    padding-bottom: 10vw;
    font-size: 9vw;
    color:rgb(39, 41, 39);
}

aside div a img {
    height: 24vw;
    width: 24vw;    
    display: flex;
    justify-self: flex-end;
}

/* Próximos Jogos Tablets*/

@media (min-width:750px) and (max-width: 992px){
    
    aside div{
        width:45vw;
    }

    aside div a{
        height: 28vw;
        width: 28vw;
    }

    aside div a img {
        height: 14vw;
        width: 14vw;    
    }

    aside div a h3{
        font-size: 3.2vw;
    }

    aside div h2{
        padding-bottom: 12vw;
        font-size: 5vw;
    }

}

/*Próximos Jogos Desktop*/

@media (min-width: 992px){
    
    aside div{
        width:30vw;
    }

    aside div a{
        height: 15vw;
        width: 15vw;
    }

    aside div a img {
        height: 8vw;
        width: 8vw;    
    }

    aside div a h3{
        font-size: 2vw;
    }

    aside div h2{
        padding-bottom: 5vw;
        font-size: 3vw;
    }

}

