<div class="container-fluid">
<!-- CAROUSEL CLUBES -->
    <div class="d-flex p-2 justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel" data-bs-pause="hover">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img *ngFor="let resultado of resultados1" src="{{resultado.urlShield}}" (click)='abrirClub(1,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
              <div class="carousel-item">
                <img *ngFor="let resultado of resultados2" src="{{resultado.urlShield}}" (click)='abrirClub(2,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
              <div class="carousel-item">
                <img *ngFor="let resultado of resultados3" src="{{resultado.urlShield}}" (click)='abrirClub(3,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
              <div class="carousel-item">
                <img *ngFor="let resultado of resultados4" src="{{resultado.urlShield}}" (click)='abrirClub(4,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
              <div class="carousel-item">
                <img *ngFor="let resultado of resultados5" src="{{resultado.urlShield}}" (click)='abrirClub(5,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
              <div class="carousel-item">
                <img *ngFor="let resultado of resultados6" src="{{resultado.urlShield}}" (click)='abrirClub(6,resultado.id)' class="d-inline img-fluid m-2 pointer" width="100px">    
              </div>
            </div>
        </div>
    </div>
    


    <div class="row">    
        <div class="col-sm-4 p-2" (click)='abrirLink(1)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[0]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados1 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(2)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[1]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados2 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(3)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[2]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados3 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(4)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[3]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados4 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(5)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[4]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados5 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-2" (click)='abrirLink(6)'>
            <div class="card bg-dark text-white text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ nomeLigas[5]?.name }}</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TIME</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados6 | orderBy:'saldoGols':false | orderBy:'pontos':true | slice:0:4; let i = index">
                                <td>{{ i+1 }}</td>
                                <td><img [src]="resultado?.urlShield" height="40"> {{ resultado.name }}</td>
                                <td>{{ resultado.pontos }}</td>
                            </tr>      
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>    
    </div>
</div>


<h1>Próximos Jogos</h1>

<aside>
    <div *ngIf="resultados1.length>1">
        <!-- <h3>{{ resultados1[random1Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/1/clube/{{ resultados1[random1Club1]?.id }}"><h3>{{ resultados1[random1Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados1[random1Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/1/clube/{{ resultados1[random1Club2]?.id }}"><h3>{{ resultados1[random1Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados1[random1Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados1[random1Club2]?.name }}</h3> -->
    </div>
    <div *ngIf="resultados2.length>1">
        <!-- <h3>{{ resultados2[random2Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/2/clube/{{ resultados2[random2Club1]?.id }}"><h3>{{ resultados2[random2Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados2[random2Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/2/clube/{{ resultados2[random2Club2]?.id }}"><h3>{{ resultados2[random2Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados2[random2Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados2[random2Club2]?.name }}</h3> -->
    </div>
    <div *ngIf="resultados3.length>1">
        <!-- <h3>{{ resultados3[random3Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/3/clube/{{ resultados3[random3Club1]?.id }}"><h3>{{ resultados3[random3Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados3[random3Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/3/clube/{{ resultados3[random3Club2]?.id }}"><h3>{{ resultados3[random3Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados3[random3Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados3[random3Club2]?.name }}</h3> -->
    </div>
    <div *ngIf="resultados4.length>1">
        <!-- <h3>{{ resultados4[random4Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/4/clube/{{ resultados4[random4Club1]?.id }}"> <h3>{{ resultados4[random4Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados4[random4Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/4/clube/{{ resultados4[random4Club2]?.id }}"><h3>{{ resultados4[random4Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados4[random4Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados4[random4Club2]?.name }}</h3> -->
    </div>
    <div *ngIf="resultados5.length>1">
        <!-- <h3>{{ resultados5[random5Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/5/clube/{{ resultados5[random5Club1]?.id }}"><h3>{{ resultados5[random5Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados5[random5Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/5/clube/{{ resultados5[random5Club2]?.id }}"><h3>{{ resultados5[random5Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados5[random5Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados5[random5Club2]?.name }}</h3> -->
    </div>
    <div *ngIf="resultados6.length>1">
        <!-- <h3>{{ resultados6[random6Club1]?.name }}</h3> -->
        <a href="http://localhost:4200/liga/6/clube/{{ resultados6[random6Club1]?.id }}"><h3>{{ resultados6[random6Club1]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados6[random6Club1]?.urlShield"></a>
        <h2>VS</h2>
        <a href="http://localhost:4200/liga/6/clube/{{ resultados6[random6Club2]?.id }}"><h3>{{ resultados6[random6Club2]?.name }}</h3><img class="d-inline img-fluid m-2 pointer" [src]="resultados6[random6Club2]?.urlShield"></a>
        <!-- <h3>{{ resultados6[random6Club2]?.name }}</h3> -->
    </div>
</aside>




<!-- <ul *ngFor= "let nomeLiga of nomeLigas">
    <li><a href="/liga"> {{nomeLiga.name}} </a></li>
</ul> -->