<!-- ALERT CLUBE EDITADO -->
<div *ngIf='alertEdit' class="alert alert-success fade show" role="alert">
  {{ mensajeAlertEdit }}
</div>

<article>
  <div>
    <h1>{{ this.resultado.name }}</h1>
    <h4>{{ this.resultado.country }}</h4>
    <h2>Liga {{ nomeLigas[2]?.name }}</h2>
    <h4>Posição: {{ position }}</h4>
  </div>

  <div>
    <img id="ga" src="{{ this.resultado.urlShield }}" alt="Escudo" >
  </div>
  
  <div>
    <h2>Estátisticas da Temporada</h2>
    <p>Pontos: {{ this.resultado.pontos }}</p>
    <p>Jogados: {{ this.resultado.jogados }}</p>
    <p>Vitórias: {{ this.resultado.vitorias }}</p>
    <p>Empates: {{ this.resultado.empates }}</p>
    <p>Derrotas: {{ this.resultado.derrotas }}</p>
    <p>Gols Pró: {{ this.resultado.golsPro }}</p>
    <p>Gols Contra: {{ this.resultado.golsContra }}</p>
    <p>Saldo de Gols: {{ this.resultado.saldoGols }}</p>
  </div>
</article>



<button class="btn btn-primary mb-2 mr-2" (click)="irEditClube()">EDITAR CLUBE</button>

<button class="btn btn-danger mb-2 mr-2" (click)="eliminarClube()">ELIMINAR CLUBE</button>

<br><br>
<a href="http://localhost:4200/liga3">Voltar a {{ nomeLigas[2]?.name }}</a><br>
<a href="">Voltar a Home</a> 

