<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!-- <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> -->

<div class="container-fluid">
        <!-- ALERT CLUBE ELIMINADO -->
    <div *ngIf='alertEliminado' class="alert alert-success fade show" role="alert">
        {{ mensajeAlertEliminado }}
    </div>

    <!-- ALERT CLUBE ADICIONADO -->
    <div *ngIf='alertAdd' class="alert alert-success fade show" role="alert">
        {{ mensajeAlertAdd }}
    </div>

    <article id="cabeçalho">
        <div>
            <h1 class="text-center fw-bold">Liga {{ nomeLiga.name }}</h1>
        </div>
    
    
        <div id="Buttons" class="container-fluid">
            <div class="row">
              <div class="col-sm mx-auto">
                <button class="btn btn-primary mb-2 mr-2 btn-sm m-1 button" (click)='editLiga(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png" alt=""><h3>&nbsp;&nbsp;&nbsp; EDITAR &nbsp;&nbsp;&nbsp;</h3></button>  
              </div>
            </div>
        </div>
    </article>
    
    
    <nav class="navbar">
        <input id="pesquisa" class="form-control" type="text" name="name" [(ngModel)]="pesquisa"  placeholder="Insira sua pesquisa aqui...">
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th title="Posição">#</th>
                    <th>TIME</th>
                    <th class= "NoMobile">PAÍS</th>
                    <th title="Jogos">J</th>
                    <th title="Vitórias">V</th>
                    <th title="Empates">E</th>
                    <th title="Derrotas">D</th>
                    <th class= "NoMobile" title="Gols Pró/Gols Contra">GOLS</th>
                    <th title="Diferença de Gols">+/-</th>
                    <th title="Pontos">PTS</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let resultado of resultados | filter:pesquisa | orderBy:'saldoGols':false | orderBy:'pontos':true; let i = index"> -->
                <tr *ngFor="let resultado of resultadosSort | filter:pesquisa">
    
                    <td>{{ resultadosSort.indexOf(resultado)+1 }}</td>
                    <td id="clubeBottons">
                        <a href="http://localhost:4200/liga/{{ nomeLiga.id }}/clube/{{ resultado.id }}">
                        <button class="btn btn-outline-light buttonClubes">
                            <img [src]="resultado?.urlShield">
                            <h4>{{ resultado.name }}</h4>
                        </button>
                        </a>
                    </td>
                    <td class= "NoMobile">{{ resultado.country | uppercase | slice:0:3}} </td>
                    <td>{{ resultado.jogados}} </td>
                    <td>{{ resultado.vitorias }} </td>
                    <td>{{ resultado.empates }} </td>
                    <td>{{ resultado.derrotas }} </td>
                    <td class= "NoMobile">{{ resultado.golsPro }}:{{ resultado.golsContra }} </td>
                    <td>{{ resultado.saldoGols }} </td>
                    <td>{{ resultado.pontos }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>