<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img class="img-fluid" src="../../../assets/3 vazado letra branca.png" width="230px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)='toggleAbajo = !toggleAbajo'>
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" [ngbCollapse]='toggleAbajo'><!-- PARA POSICIONAR EL MENU-->
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0"> <!-- PARA POSICIONAR EL MENU-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ver ligas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/liga1"> {{ nomeLigas[0]?.name }} </a>
                <a class="dropdown-item" href="#">{{ nomeLigas[1]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[2]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[3]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[4]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[5]?.name }}</a>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Atualizar ligas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="liga1/editliga">{{ nomeLigas[0].name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[1]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[2]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[3]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[4]?.name }}</a>
                <a class="dropdown-item" href="#">{{ nomeLigas[5]?.name }}</a>
            </ul>
          </li>
        </ul>        
      </div>
    </div>
  </nav>
</div>


<!-- BORRAR -->
  <br>
  <br>
  <br>



<router-outlet></router-outlet>

<!-- <footer>
  <div>
    <p>Developers:</p>
  </div>
</footer> -->