/* Sumida de bordes provisoria */
nav, .navbar-brand, .container-fluid {
    padding: 0px;
}

footer{
    background-color: black;
    color:white;
}

#toggleIcon {
    margin-right: 10px;
}

/* .offcanvas-header {
    background-color: #198754;
} */

.offcanvas-body {
    background-color: #198754; 
      
}

#logoOffCanvas {
    margin-left: -16px;
    margin-top: -16px;
}

#offcanvasWithBothOptions {
    width: 220px;
}

#btnCloseCanvas {
    position: relative;
    /* left: 10px; */
    /* top: -30px; */
}

