/* Sumida de bordes provisoria */
nav, .navbar-brand, .container-fluid{
    padding: 0px;
}

footer{
    background-color: black;
    color:white;
}

#toggleIcon {
    margin-right: 10px;
    background-image: url('../assets/Iconos/menu.png');
}

