/* Sumida de bordes provisoria */
nav, .navbar-brand, .container-fluid {
    padding: 0px;
}

footer{
    background-color: black;
    color:white;
}

#toggleIcon {
    margin-right: 10px;
}

/* .offcanvas-header {
    background-color: #198754;
} */

.offcanvas-body {
    background-color: #198754; 
      
}

#logoOffCanvas {
    margin-left: -16px;
    margin-top: -16px;
}

#offcanvasWithBothOptions {
    width: 220px;
}

#btnCloseCanvas {
    position: relative;
    /* left: 10px; */
    /* top: -30px; */
}


@font-face{ 
    font-family: 'Neufreit';
    src: url('../assets/Neufreit-ExtraBold.otf');
}
* {
    font-family: 'Neufreit';
    font-size: 22px;
}

#LogoMyFutStats{
    width: 250px;
}

@media (max-width: 992px){
    #LogoMyFutStats{
        width: 220px;
    }

    * {
        font-size: 18px;
    }
}
