<h1>Editar clube {{ this.resultado.name }}</h1>

<img src="{{ this.resultado.urlShield }}" width="120px">



<form class="form-group needs-validation" #formedit='ngForm' novalidate> <!--(ngSubmit)='buscar(dadosEditClube)'-->
        <div class="form-group">
        <label for="name">Nome do clube:</label>
        <input type="text" class="form-control" name="name" value="{{ this.resultado.name }}" id="name" [(ngModel)]="name" required>
        <div class="valid-feedback">
            PODEMOS AGREGAR ALGO ACÁ!
        </div>
    </div>    
    <div class="form-group">
        <label for="country">Pais:</label>
        <input type="text" class="form-control" name="country" value="{{ this.resultado.country }}" id="country" [(ngModel)]="country" required>
    </div>
    <div class="form-group">
        <label for="urlShield">URL Escudo:</label>
        <input type="text" class="form-control" name="urlShield" value="{{ this.resultado.urlShield }}" id="urlShield" [(ngModel)]="urlShield">
    </div>
    <div class="form-group">
        <label for="position">Posição:</label>
        <input type="text" class="form-control" name="position" value="{{ this.resultado.position }}" id="position" [(ngModel)]="position" required>
    </div>
    <div class="form-group">
        <label for="pts">Pontos:</label>
        <input type="text" class="form-control" name="pts" value="{{ this.resultado.pts }}" id="pts" [(ngModel)]="pts" required>
    </div>
    <div class="form-group">
        <label for="J">Jogados:</label>
        <input type="number" class="form-control" name="J" value="{{ this.resultado.J }}" id="J" [(ngModel)]="J" required>
    </div>
    <div class="form-group">
        <label for="V">Vencidos:</label>
        <input type="text" class="form-control" name="V" value="{{ this.resultado.V }}" id="V" [(ngModel)]="V" required>
    </div>
    <div class="form-group">
        <label for="E">Empates:</label>
        <input type="text" class="form-control" name="E" value="{{ this.resultado.E }}" id="E" [(ngModel)]="E" required>
    </div>
    <div class="form-group">
        <label for="D">Derrotas:</label>
        <input type="text" class="form-control" name="D" value="{{ this.resultado.D }}" id="D" [(ngModel)]="D" required>
    </div>
    <div class="form-group">
        <label for="GP">Goles a favor:</label>
        <input type="text" class="form-control" name="GP" value="{{ this.resultado.GP }}" id="GP" [(ngModel)]="GP" required>
    </div>
    <div class="form-group">
        <label for="GC">Goles contra:</label>
        <input type="text" class="form-control" name="GC" value="{{ this.resultado.GC }}" id="GC" [(ngModel)]="GC" required>
    </div>
    <div class="form-group">
        <label for="SG">SG:</label>
        <input type="text" class="form-control" name="SG" value="{{ this.resultado.SG }}" id="SG" [(ngModel)]="SG" required>
    </div>
    <div class="form-group">
        <label for="YC">YC:</label>
        <input type="text" class="form-control" name="YC" value="{{ this.resultado.YC }}" id="YC" [(ngModel)]="YC" required>
    </div>
    <div class="form-group">
        <label for="RC">RC:</label>
        <input type="text" class="form-control" name="RC" value="{{ this.resultado.RC }}" id="RC" [(ngModel)]="RC" required>
    </div>
</form>

  <br>

<button type="submit" class="btn btn-outline-primary mb-2 mr-2" (click)='editClub()'>ATUALIZAR DADOS</button> <!--(click)='buscar(dadosEditClube)'-->

<button class="btn btn-outline-primary mb-2 mr-2" (click)='dadosRandom()'>DADOS RANDOM</button>

<br><br>

<a href="http://localhost:4200/clube/{{ this.resultado.id}}">NÃO editar ao clube {{ this.resultado.name }}</a><br>
<a href="http://localhost:4200/editliga">Voltar ao menú de edição de Liga</a> <br>
<a href="http://localhost:4200/liga">Voltar a Liga</a> <br>
<a href="">Voltar a Home</a>
