<h1>ADICIONAR CLUB</h1>
<br>
<div class="form-group">
    <label for="name">Nome do clube:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="pais">Pais:</label>
    <input type="text" class="form-control" id="pais">
</div>
<div class="form-group">
    <label for="escudo">URL Escudo:</label>
    <input type="text" class="form-control" id="escudo">
</div>
<button (click)='novoClub()'>ADICIONAR</button>
<br><br>
<a href="">Voltar a Home</a> <br>
<a href="http://localhost:4200/clubes">Voltar a Clubes</a>

