<!-- MODAL ADICIONAR CLUB -->
<div id="mostrarModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Clube adicionado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Continuar adicionando?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">SIM, CONTINUAR</button>
          <button type="button" class="btn btn-primary" (click)='voltarLiga()'>NÃO</button>
        </div>
      </div>
    </div>
</div>


<h1>ADICIONAR CLUB</h1>

<br>

<form class="form-group needs-validation" #formulario='ngForm'>
    <div class="form-group">
        <label for="name">Nome do clube:</label>
        <input type="text" class="form-control" name="name" required id="name" [(ngModel)]="name">
    </div>
    
    <div class="form-group">
        <label for="country">Pais:</label>
        <input type="text" class="form-control" name="country" id="country" [(ngModel)]="country">
    </div>
    <div class="form-group">
        <label for="escudo">URL Escudo:</label>
        <input type="text" class="form-control" name="urlShield" id="escudo" [(ngModel)]="urlShield">
    </div>   
</form>

<br>

<button class="btn btn-success mb-2 mr-2" data-bs-toggle="modal" data-bs-target="#mostrarModal" (click)="novoClub()">ADICIONAR CLUBE</button>

<br>

<button class="btn-default"><a href="">Voltar a Home</a></button>
<br>
<button class="btn-default"><a href="http://localhost:4200/editliga">Voltar ao menú de edição de Liga</a></button>
<br>
<button class="btn-default"><a href="http://localhost:4200/liga">Voltar a Liga</a></button>

