<h1>ADICIONAR CLUB</h1>
<br>
<form class="form-group" #formulario='ngForm' (ngSubmit)='buscar(dadosClube)'>
    <div class="form-group">
        <label for="name">Nome do clube:</label>
        <input type="text" class="form-control" name="name" required id="name" [(ngModel)]="name">
    </div>
    
    <div class="form-group">
        <label for="country">Pais:</label>
        <input type="text" class="form-control" name="country" required id="country" [(ngModel)]="country">
    </div>
    <div class="form-group">
        <label for="escudo">URL Escudo:</label>
        <input type="text" class="form-control" name="urlShield" required id="escudo" [(ngModel)]="urlShield">
    </div>
    <button type="submit">ADICIONAR</button>
</form>
  





<br><br>
<a href="">Voltar a Home</a> <br>
<a href="http://localhost:4200/liga">Voltar a Liga 1</a>

