<div class="container-fluid">

    <!-- MODAL ELIMINAR CLUB -->
    <div id="mostrarModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar clube {{ this.nameModal }}</h5>
                </div>
                <div class="modal-body">
                    <img src="{{ this.urlModal }}" width="50px" alt="">
                    <p>Você tem certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarClube(nomeLiga.id, this.idModal)">SIM, ELIMINAR</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">NÃO</button>
                </div>
            </div>
        </div>
    </div>


        <!-- ALERT CLUBE ELIMINADO -->
    <div *ngIf='alertEliminado' class="alert alert-success fade show" role="alert">
        {{ mensajeAlertEliminado }}
    </div>


    <h1>Menú de edição de {{ nomeLiga.name }}</h1>

    <form class="form-group needs-validation" #formedit='ngForm' novalidate>
        <div class="form-group mb-3">
            <label for="name">Editar o nome da Liga:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="name" value="{{ nomeLiga.name }}" id="name" [(ngModel)]="name" placeholder= "{{ nomeLiga.name }}" required>
                <button class="btn btn-primary btn-sm" type="submit" (click)='editLiga(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Update.png" width="30px" alt=""></button>
            </div>
        </div> 
    </form>

    <div class="d-grid gap-2 d-md-block col-6 mx-auto">
        <button class="btn btn-success mb-2 mr-2 btn-sm m-1" (click)='volverLiga(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Back.png" width="30px" alt=""> VOLTAR PARA À LIGA</button>
        <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" (click)='addClube(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Add.png" width="30px" alt=""> ADICIONAR CLUBE</button> 
    </div>

    <nav class="navbar">
        <input class="form-control" type="text" name="name" [(ngModel)]="pesquisa"  placeholder="Insira sua pesquisa aqui...">
    </nav>

    <div id="editLigaTable">
        <table class="table table-bordered">
            <tbody>
                <tr class="row" *ngFor="let resultado of resultados | filter:pesquisa | orderBy:'name':false">
                    <td class="col 10"><a href="http://localhost:4200/liga/{{ nomeLiga.id }}/clube/{{ resultado.id }}"><button class="btn btn-outline-primary mb-2 mr-2"><img [src]="resultado?.urlShield" height="40px"> {{ resultado.name }}</button></a></td>
                    <td class="col 2" id="editClubeBottons">
                        <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" (click)="editClube(nomeLiga.id, resultado.id)"><img src="../../../../assets/Iconos/MyFutStats Edit.png" width="30px" alt=""> EDITAR</button>
                        <button class="btn btn-danger mb-2 mr-2 btn-sm m-1" data-bs-toggle="modal" data-bs-target="#mostrarModal" (click)="pegaID(resultado.id, resultado.name, resultado.urlShield)"><img src="../../../../assets/Iconos/MyFutStats Delete.png" width="30px" alt=""> APAGAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
