<div class="container-fluid">

    <!-- MODAL ELIMINAR CLUB -->
    <div id="mostrarModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar clube {{ this.nameModal }}</h5>
                </div>
                <div class="modal-body">
                    <img src="{{ this.urlModal }}" width="50px" alt="">
                    <p>Você tem certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarClube(nomeLiga.id, this.idModal)">SIM, ELIMINAR</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">NÃO</button>
                </div>
            </div>
        </div>
    </div>


        <!-- ALERT CLUBE ELIMINADO -->
    <div *ngIf='alertEliminado' class="alert alert-success fade show" role="alert">
        {{ mensajeAlertEliminado }}
    </div>

    <!-- ALERT CLUBE ADICIONADO -->
    <div *ngIf='alertAdd' class="alert alert-success fade show" role="alert">
        {{ mensajeAlertAdd }}
    </div>


    <h1>Menú de edição de {{ nomeLiga.name }} <span><button class="btn btn-primary mb-2 mr-2 btn-sm buttonEditLiga" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png"></button>
    </span> </h1>
    

    <div class="collapse" id="collapseExample">        
        <form id="formEdit" class="form-group needs-validation" #formedit='ngForm' novalidate>
            <div class="form-group">
                <div class="d-flex flex-column flex-md-row">
                    <h4 class="d-flex align-items-center" id="labelEdit">Editar o nome:</h4>
                    <div class="d-flex flex-row">
                        <input type="text" class="form-control inputEdit" name="name" value="{{ nomeLiga.name }}" id="name" [(ngModel)]="name" placeholder= "{{ nomeLiga.name }}" required>
                        <button class="btn btn-primary buttonEditLiga" type="submit" (click)='editLiga(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Update (Vazado).png"></button>
                    </div>
                </div>
            </div> 
        </form>        
    </div>
   
    
    <div id="Buttons" class="container-fluid">
        <div class="row">
            <div class="col-sm mx-auto">
                <button class="btn btn-success mb-2 mr-2 btn-sm m-1 button" (click)='volverLiga(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Back (Vazado).png"><h3>&nbsp;&nbsp;&nbsp;VOLTAR&nbsp;&nbsp;&nbsp;</h3></button>
            </div>
            <div class="col-sm mx-auto">
                <button class="btn btn-primary mb-2 mr-2 btn-sm m-1 button" (click)='addClube(nomeLiga.id)'><img src="../../../../assets/Iconos/MyFutStats Add (Vazado).png"><h3>&nbsp;&nbsp;&nbsp;CLUBE&nbsp;&nbsp;&nbsp;</h3></button> 
            </div>
        </div>
    </div>

    <nav class="navbar">
        <input id="pesquisa" class="form-control" type="text" name="name" [(ngModel)]="pesquisa"  placeholder="Insira sua pesquisa aqui...">
    </nav>

    <div id="editLigaTable">
        <table class="table table-bordered table-striped table-hover table-dark">
            <tbody>
                <tr class="d-flex flex-md-row" *ngFor="let resultado of resultados | filter:pesquisa | orderBy:'name':false">
                    <td class="col align-middle" id="clubeBottons">
                        <a href="http://localhost:4200/liga/{{ nomeLiga.id }}/clube/{{ resultado.id }}">
                            <button class="btn btn-outline-light buttonClubes">
                                <img [src]="resultado?.urlShield">
                                <h4>{{ resultado.name }}</h4>
                            </button>
                        </a>
                    </td>
                    <td class="d-flex flex-column" id="editBottons">
                        <button class="btn btn-primary mb-2 mr-2 btn-sm m-1 buttonEdit" (click)="editClube(nomeLiga.id, resultado.id)"><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png"><h3>&nbsp;&nbsp;&nbsp;EDITAR&nbsp;&nbsp;&nbsp;</h3></button>
                        <button class="btn btn-danger mb-2 mr-2 btn-sm m-1 buttonEdit" data-bs-toggle="modal" data-bs-target="#mostrarModal" (click)="pegaID(resultado.id, resultado.name, resultado.urlShield)"><img src="../../../../assets/Iconos/MyFutStats Delete (Vazado).png"><h3>&nbsp;&nbsp;&nbsp;APAGAR&nbsp;&nbsp;&nbsp;</h3></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>


