/* #editClubeBottons{
   display: flex;
   justify-content: space-evenly
} */
/* #editLigaTable{
    padding: 0 300px 0 300px;
    align-self: center;
} */
/* td{
    width: 300px;
} */

@font-face{ 
    font-family: 'Neufreit';
    src: url('../../../../assets/Neufreit-ExtraBold.otf');
}
* {
    font-family: 'Neufreit'
}