form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

#escudo {
    max-width: 300px;
    max-height: 300px;
    height: max-content;
}