<h1>ROTA DOS CLUBES</h1>
<a href="">Voltar a Home</a>

<nav class="navbar">
    <input class="form-control" type="text" name="name" [(ngModel)]="nomeTime"  placeholder="Insira sua pesquisa aqui...">
</nav>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Nome</th>
            <th>Escudo</th>
            <th>País</th>
            <th>J</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GP</th>
            <th>GC</th>
            <th>SG</th>
            <th>Pontos</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resultado of resultados | filter:nomeTime | orderBy:'SG':false | orderBy:'pts':true; index as i">
            <td>{{ i+1 }}</td>
            <td><a href="http://localhost:4200/clube/{{ resultado.id }}">{{ resultado.name }}</a></td>
            <td><img [src]="resultado?.urlShield" width="40"></td>
            <td>{{ resultado.country }}</td>
            <td>{{ resultado.V + resultado.E + resultado.D}} </td>
            <td>{{ resultado.V }} </td>
            <td>{{ resultado.E }} </td>
            <td>{{ resultado.D }} </td>
            <td>{{ resultado.GP }} </td>
            <td>{{ resultado.GC }} </td>
            <td>{{ resultado.SG }} </td>
            <td>{{ resultado.pts }}</td>
        </tr>
    </tbody>
</table>

<!-- <ul class="list-group" *ngFor="let resultado of resultados">
    <li class="list-group-item">
        <a href="http://localhost:4200/clube/{{ resultado.id }}"><h2>{{ resultado.name }}</h2></a>
        <img [src]="resultado?.urlShield" width="120">
        <p>País: {{ resultado.country }}</p>
        <p>Posição: {{ resultado.position }}</p>
        <p>Pontos: {{ resultado.pts }}</p>
        <p>Jogados: {{ resultado.J }}</p>
        <p>Vitórias: {{ resultado.V }}</p>
        <p>Empates: {{ resultado.E }}</p>
        <p>Derrotas: {{ resultado.D }}</p>
        <p>GP: {{ resultado.GP }}</p>
        <p>GC: {{ resultado.GC }}</p>
        <p>SG: {{ resultado.SG }}</p>
        <p>Cartões amarelos: {{ resultado.YC }}</p>
        <p>Cartões vermelhos: {{ resultado.RC }}</p>
    </li>
</ul> -->

<!-- ADICIONAR CLUB (COLOCAR EN SU LUGAR) -->
<button class="btn-default"><a href="http://localhost:4200/addclube">ADICIONAR CLUBE</a></button>
<br>
<br>
