<!-- ALERT CLUBE ELIMINADO -->
<div *ngIf='alertEliminado' class="alert alert-success fade show" role="alert">
    {{ mensajeAlertEliminado }}
</div>

 <!-- ALERT CLUBE ADICIONADO -->
 <div *ngIf='alertAdd' class="alert alert-success fade show" role="alert">
    {{ mensajeAlertAdd }}
  </div>

<h1>{{ nomeLigas[0].name }}</h1>
<a href="">Voltar a Home</a> 
<nav class="navbar">
    <input class="form-control" type="text" name="name" [(ngModel)]="pesquisa"  placeholder="Insira sua pesquisa aqui...">
</nav>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>POS</th>
            <th>TIME</th>
            <th>PAÍS</th>
            <th>J</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GOLS</th>
            <th>+/-</th>
            <th>PTS</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let resultado of resultados | filter:pesquisa | orderBy:'saldoGols':false | orderBy:'pontos':true; let i = index"> -->
        <tr *ngFor="let resultado of resultadosSort | filter:pesquisa">

            <td>{{ resultadosSort.indexOf(resultado)+1 }}</td>
            <!-- <td>{{ i+1 }}</td> -->
            <td><a href="http://localhost:4200/clube/{{ resultado.id }}"><img [src]="resultado?.urlShield" height="35">{{ resultado.name }}</a></td>
            <td>{{ resultado.country | uppercase | slice:0:3}} </td>
            <td>{{ resultado.jogados}} </td>
            <td>{{ resultado.vitorias }} </td>
            <td>{{ resultado.empates }} </td>
            <td>{{ resultado.derrotas }} </td>
            <td>{{ resultado.golsPro }}:{{ resultado.golsContra }} </td>
            <td>{{ resultado.saldoGols }} </td>
            <td>{{ resultado.pontos }}</td>
        </tr>
    </tbody>
</table>


<!-- <h1>Mostrando todo o JSON de nossa BD:</h1>
<p>{{ resultados | json }}</p> -->

<!-- <h1>Mostrando os registros (formatados):</h1> -->
<!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let resultado of resultados">
        <a href="http://localhost:4200/clube/{{ resultado.id }}"><h2>{{ resultado.name }}</h2></a>
        <img src="{{ resultado.urlShield }}" width="120px">
        <p>País: {{ resultado.country }}</p>
        <p>Posição: {{ resultado.position }}</p>
        <p>Pontos: {{ resultado.pts }}</p>
        <p>Jogados: {{ resultado.J }}</p>
        <p>Vitórias: {{ resultado.V }}</p>
        <p>Empates: {{ resultado.E }}</p>
        <p>Derrotas: {{ resultado.D }}</p>
        <p>GP: {{ resultado.GP }}</p>
        <p>GC: {{ resultado.GC }}</p>
        <p>SG: {{ resultado.SG }}</p>
        <p>Cartões amarelos: {{ resultado.YC }}</p>
        <p>Cartões vermelhos: {{ resultado.RC }}</p>
    </li>
</ul> -->

<button class="btn btn-primary mb-2 mr-2" (click)='editLiga()'>Atualizar dados da liga</button>