<div class="container-fluid">

   <!-- MODAL ELIMINAR CLUB -->
   <div id="mostrarModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar clube {{ resultado.name }}</h5>
            </div>
            <div class="modal-body">
                <img src="{{ resultado.urlShield }}" width="50px" alt="">
                <p>Você tem certeza?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarClube(nomeLiga.id, resultado.id)">SIM, ELIMINAR</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">NÃO</button>
            </div>
        </div>
    </div>
  </div>

    <!-- ALERT CLUBE EDITADO -->
  <div *ngIf='alertEdit' class="alert alert-success fade show" role="alert">
    {{ mensajeAlertEdit }}
  </div>

  <article>
    <div id="Presentation">
      <h1>{{ resultado.name | uppercase}} </h1>
      <h2>{{ resultado.country }}</h2>
      <br>
      <h1>Liga {{ nomeLiga.name }}</h1>
      <h2>Posição: {{ position }}</h2>
    </div>

    <div id="Shield">
      <img id="ga" src="{{ this.resultado.urlShield }}" alt="Escudo" >
    </div>
    
    <div id="Stats">
      <h2>ESTATÍSTICAS</h2>
      <div>
        <ul>
          <li>Jogados: {{ resultado.jogados }}</li>
          <li>Vitórias: {{ resultado.vitorias }}</li>
          <li>Empates: {{ resultado.empates }}</li>
          <li>Derrotas: {{ resultado.derrotas }}</li>
        </ul>
        <ul>
          <li>Pontos: {{ resultado.pontos }}</li>
          <li>Gols Pró: {{ resultado.golsPro }}</li>
          <li>Gols Contra: {{ resultado.golsContra }}</li>
          <li>Saldo Gols: {{ resultado.saldoGols }}</li>
          </ul>
      </div>
    </div>
  </article>


  <div id="Buttons" class="container-fluid">
    <div class="row">
      <div class="col-sm mx-auto">
        <button class="btn btn-success mb-2 mr-2 btn-sm m-1" (click)="voltarLiga()"><img src="../../../../assets/Iconos/MyFutStats Back (Vazado).png" alt="">&nbsp;&nbsp;&nbsp; VOLTAR &nbsp;&nbsp;&nbsp;</button>  
      </div>
      <div class="col-sm mx-auto">
        <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" (click)="irEditClube()"><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png" alt="">&nbsp;&nbsp;&nbsp; EDITAR &nbsp;&nbsp;&nbsp;</button>
      </div>
      <div class="col-sm mx-auto">
        <button class="btn btn-danger mb-2 mr-2 btn-sm m-1" data-bs-toggle="modal" data-bs-target="#mostrarModal"><img src="../../../../assets/Iconos/MyFutStats Delete (Vazado).png" alt="">&nbsp;&nbsp;&nbsp; APAGAR &nbsp;&nbsp;&nbsp;</button>        
      </div>
    </div>
  </div>

</div>