@font-face{ 
    font-family: 'Neufreit';
    src: url('../../../../assets/Neufreit-ExtraBold.otf');
}
* {
    font-family: 'Neufreit'
}


article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 3vw;
    align-items: center;
}

article div img{
    height: 50vh;
}

#Presentation{
    /* background-color: rgb(118, 118, 221); */
    width: 30vw;
    text-align: center;
    /* padding-left: 10px; */
}

#Presentation div h2{
    font-size: 2.2vw;
}

.TitleTablet, #Stats div:first-child{
    display: none;
}

#Shield{
    /* background-color: green; */
    width: 27vw;
    display: flex;
    justify-content: center;
    margin: 0 2vw 0 2vw;
}

#Shield img{
    /* background-color: springgreen; */
    height: 27vw;
}

#Stats{
    /* background-color: red; */
    width: 30vw;
    /* padding-top: 40px; */
}

h1{
    font-size: 3vw;
}

#Stats h2{
    font-size: 3vw;
    padding: 0px 0 20px 0;
    text-align: center;
}

#Stats div{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Stats div ul{
    /* background-color: rgb(234, 0, 255); */
    display: flex;
    flex-direction: column;
    /* font-size: 25px; */
}

li{
    padding-bottom: 20px;
    font-size: 1.95vw;
}

#Buttons{
    /* background-color:thistle; */
    /* padding-top: 0px; */
    display: flex;
    justify-content: center;
}

#Buttons div{
    /* background-color: teal; */
    display: flex;
    justify-content: space-around;
    /* width: 50vw; */

}

#Buttons div div{
    flex-direction: row;
    width: 32vw;    
}

button{
    font-size: 2.4vw;
}

button img{
    height: 4vw;
}


/*TABLETS*/

@media (min-width:576px) and (max-width: 992px){

article{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#Presentation{
    display: none;
}

#Shield{
    flex-direction: column;
    width: 35vw;
}

#Shield img{
    margin-top: 10px;
    height: 35vw;
}

#Stats{
    width: 45vw;
    color:rgb(51, 50, 50)
}

.TitleTablet{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TitleTablet h2{
    font-size: 3.5vw;
}

#Stats div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    font-size: 4.5vw;
}

#Stats h2{
    font-size: 3.7vw;
}

li{
    font-size: 2.8vw;
}

#Buttons{
    padding-top: 10px;
}


button{
    font-size: 3.5vw;
    display: flex;
    /* align-content: center; */
}

button img{
    height: 4.4vw;
    align-self: center;
}

}


/* @media (max-width: 576px){

} */