<div class="container-fluid">
    <!-- ALERT CLUBE EDITADO -->
  <div *ngIf='alertEdit' class="alert alert-success fade show" role="alert">
    {{ mensajeAlertEdit }}
  </div>

  <article>
    <div>
      <h1>{{ resultado.name }}</h1>
      <h4>{{ resultado.country }}</h4>
      <h2>Liga {{ nomeLiga.name }}</h2>
      <h4>Posição: {{ position }}</h4>
    </div>

    <div>
      <img id="ga" src="{{ this.resultado.urlShield }}" alt="Escudo" >
    </div>
    
    <div>
      <h2>Estatísticas da Temporada</h2>
      <p>Pontos: {{ resultado.pontos }}</p>
      <p>Jogados: {{ resultado.jogados }}</p>
      <p>Vitórias: {{ resultado.vitorias }}</p>
      <p>Empates: {{ resultado.empates }}</p>
      <p>Derrotas: {{ resultado.derrotas }}</p>
      <p>Gols Pró: {{ resultado.golsPro }}</p>
      <p>Gols Contra: {{ resultado.golsContra }}</p>
      <p>Saldo de Gols: {{ resultado.saldoGols }}</p>
    </div>
  </article>


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm mx-auto">
        <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" (click)="irEditClube()"><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png" width="30px" alt=""> EDITAR CLUBE</button>
      </div>
      <div class="col-sm mx-auto">
        <button class="btn btn-danger mb-2 mr-2 btn-sm m-1" (click)="eliminarClube(nomeLiga.id,resultado.id)"><img src="../../../../assets/Iconos/MyFutStats Delete (Vazado).png" width="30px" alt=""> ELIMINAR CLUBE</button>
        
      </div>
      <div class="col-sm mx-auto">
        <button class="btn btn-success mb-2 mr-2 btn-sm m-1" (click)="voltarLiga()"><img src="../../../../assets/Iconos/MyFutStats Back (Vazado).png" width="30px" alt=""> VOLTAR À LIGA</button>
  
      </div>
    </div>
  </div>

</div>