<h1>ROTA DOS CLUBES</h1>


<!-- <h1>Mostrando todo o JSON de nossa BD:</h1>
<p>{{ resultados | json }}</p> -->

<!-- <h1>Mostrando os registros (formatados):</h1> -->
<ul class="list-group">
    <li class="list-group-item" *ngFor="let resultado of resultados">
        <a href="http://localhost:4200/clube/{{ resultado.id }}"><h2>{{ resultado.name }}</h2></a>
        <img src="{{ resultado.urlShield }}" width="120"> <!--Está mostrando no template mas sae um erro no console, depois ver por qué-->
        <p>País: {{ resultado.country }}</p>
        <p>Posição: {{ resultado.position }}</p>
        <p>Pontos: {{ resultado.pts }}</p>
        <p>Jogados: {{ resultado.J }}</p>
        <p>Vitórias: {{ resultado.V }}</p>
        <p>Empates: {{ resultado.E }}</p>
        <p>Derrotas: {{ resultado.D }}</p>
        <p>GP: {{ resultado.GP }}</p>
        <p>GC: {{ resultado.GC }}</p>
        <p>SG: {{ resultado.SG }}</p>
        <p>Cartões amarelos: {{ resultado.YC }}</p>
        <p>Cartões vermelhos: {{ resultado.RC }}</p>
    </li>
</ul>



<!-- ADICIONAR CLUB (COLOCAR EN SU LUGAR) -->
<button class="btn-default"><a href="http://localhost:4200/addclube">ADICIONAR CLUBE</a></button>
<br>
<br>
