<!-- ALERT CLUBE EDITADO -->
<div *ngIf='alertEdit' class="alert alert-success fade show" role="alert">
  {{ mensajeAlertEdit }}
</div>
  

<h1>Clube {{ this.resultado.name }}</h1>
<img id="ga" src="{{ this.resultado.urlShield }}" width="120px" alt="Escudo" >
<p>País: {{ this.resultado.country }}</p>
<p>Posição na liga: {{ position }}</p>
<p>Pontos: {{ this.resultado.pontos }}</p>
<p>Jogados: {{ this.resultado.jogados }}</p>
<p>Vitórias: {{ this.resultado.vitorias }}</p>
<p>Empates: {{ this.resultado.empates }}</p>
<p>Derrotas: {{ this.resultado.derrotas }}</p>
<p>Gols Pró: {{ this.resultado.golsPro }}</p>
<p>Gols Contra: {{ this.resultado.golsContra }}</p>
<p>Saldo de Gols: {{ this.resultado.saldoGols }}</p>

<button class="btn btn-primary mb-2 mr-2" (click)="irEditClube()">EDITAR CLUBE</button>

<button class="btn btn-danger mb-2 mr-2" (click)="eliminarClube()">ELIMINAR CLUBE</button>

<br><br>
<a href="http://localhost:4200/liga">Voltar a {{ nomeLigas[0].name }}</a><br>
<a href="">Voltar a Home</a> 

