<!-- MODAL ELIMINAR CLUBE -->
<ng-template #contenido let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Clube eliminado</h4>
    </div>
    <div class="modal-body">
      <p>O clube do {{ this.resultado.name }} foi eliminado</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="fechaModalEliminar()">Fechar</button>
    </div>
</ng-template>
  

<h1>Clube {{ this.resultado.name }}</h1>
 

<img id="ga" src="{{ this.resultado.urlShield }}" width="120px">
<p>País: {{ this.resultado.country }}</p>
<p>Posição: {{ this.resultado.position }}</p>
<p>Pontos: {{ this.resultado.pts }}</p>
<p>Jogados: {{ this.resultado.J }}</p>
<p>Vitórias: {{ this.resultado.V }}</p>
<p>Empates: {{ this.resultado.E }}</p>
<p>Derrotas: {{ this.resultado.D }}</p>
<p>GP: {{ this.resultado.GP }}</p>
<p>GC: {{ this.resultado.GC }}</p>
<p>SG: {{ this.resultado.SG }}</p>
<p>Cartões amarelos: {{ this.resultado.YC }}</p>
<p>Cartões vermelhos: {{ this.resultado.RC }}</p>


<button class="btn btn-outline-primary mb-2 mr-2" (click)="irEditClube()">EDITAR CLUBE</button>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="eliminarClube(contenido)">ELIMINAR CLUBE</button>

<br><br>
<a href="http://localhost:4200/liga">Voltar a {{ nomeLigas[0].name }}</a><br>
<a href="">Voltar a Home</a> 

