<div class="container-fluid">
  
  <!-- MODAL ADICIONAR CLUB -->
  <div id="mostrarModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Clube adicionado!</h5>          
        </div>
        <div class="modal-body">
            <p>Continuar adicionando?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)='borrarDados()'>SIM, CONTINUAR</button>
          <button type="button" class="btn btn-primary" (click)='voltarAdd(nomeLiga.id)'>NÃO</button>
        </div>
      </div>
    </div>
  </div>


  <h1>ADICIONAR CLUBE</h1>

  <form class="form-group needs-validation dadosName" [formGroup]=formularioAdd >
    <aside>
      <div class="form-group">
          <label for="name">Nome do clube:</label>
          <input type="text" class="form-control" formControlName="name" required>
      </div>    
      <div class="form-group">
          <label for="country">Pais:</label>
          <input type="text" class="form-control" formControlName="country">
      </div>
      <div class="form-group">
          <label for="escudo">URL Escudo:</label>
          <input type="text" class="form-control" formControlName="urlShield">
      </div>
    </aside>

    <!-- CARROUSEL PARA DADOS DOS JOGOS -->   

    <div id="Buttons" class="container-fluid">
      <div class="row">
        <div class="col-sm mx-auto">
          <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h3> ADICIONAR ESTATÍSTICAS </h3></button>  
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="form-group needs-validation dadosJogos"> 

          <!-- FORMULARIO DADOS DOS JOGOS -->

          <div class="form-group">
              <label for="vitorias">Vitórias:</label>
              <input type="number" class="form-control" formControlName="vitorias" placeholder="0">
          </div>
          <div class="form-group">
              <label for="empates">Empates:</label>
              <input type="number" class="form-control" formControlName="empates" placeholder="0">
          </div>
          <div class="form-group">
              <label for="derrotas">Derrotas:</label>
              <input type="number" class="form-control" formControlName="derrotas" placeholder="0">
          </div>
          <div class="form-group">
              <label for="golsPro">Gols Pró:</label>
              <input type="number" class="form-control" formControlName="golsPro" placeholder="0">
          </div>
          <div class="form-group">
              <label for="golsContra">Gols Contra:</label>
              <input type="number" class="form-control" formControlName="golsContra" placeholder="0">
          </div>
          
        </div>
        
      </div>

      <div id="Buttons" class="container-fluid">
        <div class="row">
          <div class="col-sm mx-auto">
            <button class="btn btn-primary mb-2 mr-2 btn-sm m-1" (click)='dadosRandom()'><img src="../../../../assets/Iconos/MyFutStats Random (Vazado).png" alt=""><h3> RANDOM </h3></button>  
          </div>
        </div>
      </div>

    </div>
    
  </form>

  <div id="Buttons" class="we" class="container-fluid">
    <div class="row">
      <div class="col-sm mx-auto">
        <button class="btn btn-success mb-2 mr-2 btn-sm m-1" (click)="voltarLigaEdit(nomeLiga.id)"><img src="../../../../assets/Iconos/MyFutStats Back (Vazado).png" alt=""><h3> VOLTAR </h3></button>  
      </div>
      <div class="col-sm mx-auto">
        <button [disabled]='!formularioAdd.valid' class="btn btn-primary mb-2 mr-2 btn-sm m-1" data-bs-toggle="modal" data-bs-target="#mostrarModal" (click)="novoClub()"><img src="../../../../assets/Iconos/MyFutStats Edit (Vazado).png" alt=""><h3> ADICIONAR </h3></button>
      </div>
    </div>
  </div>

</div>